:root {
	--clr-red: #eb5757;
	--clr-green: #27ae60;
	--clr-blue: #2d9cdb;

	--clr-black: #000;
	--clr-white: #fff;

	--clr-gray1: #333;
	--clr-gray2: #4f4f4f;
	--clr-gray3: #828282;
	--clr-gray6: #f2f2f2;

	--clr-dark-blue: #100e1d;
}
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
	display: block;
}

p {
	line-height: 1.8;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

/* buttons */
.btn {
	display: inline-block;
	background: 0;
	border: 0;
	font-family: inherit;
	cursor: pointer;
}

.cta {
	padding: 0.6em 1.5em;
	background: var(--clr-blue);
	color: var(--clr-white);
	border-radius: 12px;
}

.container {
	width: 95%;
	max-width: 375px;
	margin: 0 auto;
}

.logo {
	font-family: 'Heebo', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobile-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: 0;
	border: 0;
	width: 36px;
	height: 21px;
	cursor: pointer;
}

.bar {
	width: 100%;
	height: 3px;
	background: #000;
}

.navbar-list {
	display: none;
}

/* showcase area */

.intro {
	padding: 0 2em;
}
.hero-img {
	border-radius: 18px;
}

.upper-text {
	color: var(--clr-blue);
	margin-bottom: 0;
}

.intro-title:nth-child(2) {
	margin-top: 0;
}

.intro-title {
	color: var(--clr-gray1);
	font-weight: 500;
	font-size: 24px;
}

.intro-subtitle {
	max-width: 37ch;
	color: var(--clr-gray2);
	font-size: 12px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-text {
	font-size: 10px;
	color: var(--clr-gray3);
	margin-bottom: 0;
}

.form-input {
	display: flex;
	align-items: center;
	background: #f2f2f2;
	padding: 0.4em;
	border-radius: 12px;
}

.search-input {
	font-family: inherit;
	border: 0;
	padding: 0.5em;
	background: var(--clr-gray6);
	color: var(--clr-gray3);
}
